<head><titile>Open Games to Join</title></head>
	<fieldset>
		<legend align="center">Game Listings</legend>

		<ul>
	<p><%= @users[5].username%></p>
			<% #@games_list.each do |game| %>
			<% @users.each do |user| %>
			<!-- <li><a href="/<% #game.id %>"><%= #game.name%></a></li> -->
			<li><p><%= user.id%></p></li>
			<li><a href="/<% user.id %>"><%= user.username%></a></li>
			<%end%>
		</ul>


	</fieldset>

<% @users.each do |user| %>
<p><%= user.id%></p>
<a href="/games/list/<% user.id %>"><%= user.username%></a><br>
<%end%>