<h1>Products</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><a href="/products/<%= product.id %>"><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td>
          <form action="/add/products/<%=product.id%>" method="post">
            <input type="submit" value="Add">
          </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
